.names{
    color: black;
    font: 15px;
    font-family: 'Courier New', Courier, monospace;
}
p{
    color:black;
    font:10px;
    font-family: 'Times New Roman', Times, serif;
}
.stage-direction{
    background-color: burlywood;
}
.stage-direction:hover{
    background-color: chocolate;
    color: deeppink;
}
.ORLANDO{
    color: rgb(153, 13, 235);
}
.ADAM{
    color: rgb(250, 168, 16);
}
.OLIVER{
    color: darkturquoise;
}