.names{
    color: black;
    font: 15px;
    font-family: 'Courier New', Courier, monospace;
}
p{
    color:black;
    font:10px;
    font-family: 'Times New Roman', Times, serif;
}
.stage-direction{
    background-color: burlywood;
}
.stage-direction:hover{
    background-color: chocolate;
    color: deeppink;
}
.ORLANDO{
    color: rgb(153, 13, 235);
}
.ADAM{
    color: rgb(32, 16, 250);
}
.OLIVER{
    color: darkturquoise;
}
div{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 70px;
}
table{
    border:solid 4px rgb(253, 10, 10);
    border-collapse: separate;
}
th,td{
    border: dashed 2px black;
    text-align: center;
}
tr :nth-child(even){
    background-color: goldenrod;
}
.name:hover{
    display: inline;
    text-shadow: darkblue;
    border:darkred;
    border: ridge;
}
